:root { 
--black_900_7f:#0000007f; 
--black_900_7e:#0000007e; 
--white_A700_3a:#ffffff3a; 
--white_A700_3f:#ffffff3f; 
--bluegray_600_00:#594f8c00; 
--light_green_A700:#54b005; 
--black_900_90:#00000090; 
--red_400:#f25245; 
--teal_500:#128f8c; 
--light_green_600:#7db33d; 
--deep_orange_101:#ffcca3; 
--gray_900_0f:#1c1c210f; 
--deep_orange_100:#ffd9c2; 
--gray_900_26:#0f172b26; 
--blue_900:#0047ba; 
--lime_700:#cca333; 
--amber_500:#ffc412; 
--amber_501:#ffc208; 
--orange_600:#e89100; 
--white_A700_63:#ffffff63; 
--black_900_7f1:#0808087f; 
--black_900_94:#0d000594; 
--cyan_50:#e3f5fa; 
--yellow_903:#c77324; 
--yellow_902:#f58733; 
--yellow_904:#ff8724; 
--amber_A200:#ffc740; 
--teal_400:#298aa3; 
--white_A700_33:#ffffff33; 
--teal_402:#36b37d; 
--teal_401:#1ca699; 
--bluegray_100_cc:#cccccccc; 
--teal_403:#12b596; 
--yellow_901:#ff7021; 
--yellow_900:#ff701f; 
--white_A700_35:#ffffff35; 
--pink_400:#e33d69; 
--gray_105:#f2f5fa; 
--gray_106:#f0f2fa; 
--gray_103:#f7f7f7; 
--gray_104:#f5f5f7; 
--gray_600_40:#6b6b6b40; 
--blue_800:#1759db; 
--gray_107:#f2f5fc; 
--orange_500:#ff9900; 
--black_900_80:#00000080; 
--gray_101:#f2f2f2; 
--gray_102:#f5f5f5; 
--white_A700_40:#ffffff40; 
--gray_100:#f5f7fa; 
--gray_200_70:#ebebeb70; 
--white_A700_41:#ffffff41; 
--white_A700_42:#ffffff42; 
--white_A700_47:#ffffff47; 
--indigo_A400:#3b54e6; 
--gray_900_51:#0f0d2451; 
--indigo_700_1e:#2130b81e; 
--white_A700_14:#ffffff14; 
--purple_902:#4d1c8a; 
--purple_900:#5c057d; 
--purple_901:#590a94; 
--indigo_700_1a:#2130b81a; 
--amber_700:#ffa300; 
--yellow_A700:#ffd600; 
--black_908:#03000a; 
--black_907:#000d21; 
--black_909:#030303; 
--gray_200_17:#ededed17; 
--red_501:#fa3d3d; 
--deep_purple_A400_3f:#5e33f53f; 
--indigo_A700_59:#1a40f559; 
--red_500:#f24545; 
--gray_900_5a1:#1717295a; 
--amber_A400:#ffbf00; 
--black_904:#0a0d12; 
--black_903:#00171a; 
--black_906:#0d0d0d; 
--purple_600_26:#8c29ad26; 
--black_905:#050a12; 
--black_900:#000000; 
--black_902:#080505; 
--black_901:#030508; 
--deep_orange_200:#ffc29e; 
--gray_900_00:#08123b00; 
--bluegray_900_14:#33333314; 
--orange_305:#ffab66; 
--orange_304:#ffba4f; 
--orange_303:#edba45; 
--orange_302:#fcc24f; 
--orange_301:#fab869; 
--orange_300:#f7c24a; 
--white_A700_00:#ffffff00; 
--indigo_100:#b3b3ff; 
--white_A700_07:#ffffff07; 
--green_300:#70d975; 
--black_900_00:#00000000; 
--deep_orange_501:#fc6321; 
--deep_orange_500:#ff521f; 
--black_900_08:#00000008; 
--purple_A200:#fc2ec7; 
--blue_300_a5:#6bbfe3a5; 
--black_900_0a:#0000000a; 
--black_900_0f:#0000000f; 
--red_900_69:#ad0a2169; 
--black_900_0d:#0000000d; 
--black_900_12:#1a000012; 
--indigo_200:#a3b0d4; 
--bluegray_200_63:#b3bac463; 
--lime_50:#faf5ed; 
--black_900_17:#0d0d0f17; 
--black_900_19:#00000019; 
--gray_52:#f7f7fc; 
--gray_51:#faf7fc; 
--gray_54:#fafcff; 
--gray_53:#fcfcfc; 
--gray_500_7f:#8f8f8f7f; 
--gray_56:#fffaf5; 
--gray_55:#f7fafa; 
--blue_A700:#055eff; 
--gray_57:#f7fafc; 
--red_51:#fff0eb; 
--gray_50:#fafafa; 
--red_50:#fff0e8; 
--gray_500_87:#9e9e9e87; 
--deep_orange_402:#ff7a54; 
--gray_500_88:#a6a6a687; 
--red_A400:#f50d33; 
--deep_orange_401:#fa783d; 
--red_A402:#ff2626; 
--deep_orange_400:#f7694d; 
--red_A401:#eb0f38; 
--yellow_900_a5:#ff8717a5; 
--light_green_600_2e:#7db33d2e; 
--teal_51:#deebf5; 
--teal_50:#e0e8f0; 
--indigo_300:#8c85b8; 
--teal_900_26:#17594a26; 
--cyan_501:#0abfdb; 
--bluegray_200_80:#b8bdc480; 
--cyan_500:#12bfde; 
--white_A700_7f:#ffffff7f; 
--black_900_3b:#0000003b; 
--green_100:#d6d4c2; 
--black_900_3d:#0000003d; 
--white_A700_7e:#ffffff7e; 
--teal_500_71:#128f8c71; 
--gray_100_a1:#f5f5f5a1; 
--red_200:#d1ada1; 
--white_A700_90:#ffffff90; 
--red_900_98:#ad0a2198; 
--white_A700_99:#ffffff99; 
--amber_A701:#ffab12; 
--amber_A700:#ffa605; 
--deep_orange_700:#de5417; 
--bluegray_900_5e:#3333335e; 
--amber_A702:#ffad12; 
--pink_A700:#ab0f80; 
--black_900_47:#00000047; 
--bluegray_200_91:#b8bdc491; 
--white_A700_8a:#ffffff8a; 
--black_900_48:#050d1447; 
--blue_700:#1466d9; 
--red_A200:#fc4a4f; 
--lime_900:#967045; 
--orange_800:#eb6b00; 
--indigo_400:#596eb0; 
--bluegray_202:#abb0b3; 
--bluegray_100_00:#cccccc00; 
--bluegray_201:#a8adb5; 
--bluegray_200:#b8bdc4; 
--indigo_403:#5970de; 
--red_A700_00:#eb001f00; 
--white_A701:#fffcfc; 
--white_A700:#ffffff; 
--indigo_401:#4f63ab; 
--indigo_402:#5770de; 
--white_A700_9c:#ffffff9c; 
--black_900_59:#00000059; 
--white_A702:#fcfcff; 
--black_900_1a:#0000001a; 
--gray_900_100:#12121299; 
--deep_purple_500:#5c54ab; 
--indigo_A201:#4f78e0; 
--indigo_A200:#6966f2; 
--white_A700_70:#ffffff70; 
--black_900_21:#00000021; 
--gray_300_6c:#e3e3eb6c; 
--bluegray_900_90:#29334090; 
--red_A202:#ff474f; 
--red_A201:#fc5959; 
--gray_900_101:#17172999; 
--red_A204:#ff5963; 
--bluegray_900_7f:#292e457f; 
--red_A203:#ff4545; 
--purple_600:#8c29ad; 
--deep_orange_A400:#ff3b00; 
--black_900_24:#00000024; 
--black_900_26:#00000026; 
--bluegray_900_99:#292e4599; 
--blue_601:#2e80ed; 
--lime_800:#a38229; 
--red_A100:#f08575; 
--blue_600:#3d7ad9; 
--bluegray_100:#cccfd1; 
--orange_700:#ff7a00; 
--white_A700_80:#ffffff80; 
--bluegray_107:#c7c9d1; 
--bluegray_106:#d4d4de; 
--bluegray_105:#cccccc; 
--bluegray_104:#d4d4d4; 
--bluegray_400_69:#8a949e69; 
--bluegray_103:#d9d9d9; 
--bluegray_102:#d1d1d1; 
--bluegray_101:#cccccf; 
--indigo_A202:#6e7dff; 
--indigo_500:#3047c2; 
--white_A700_7a:#ffffff7a; 
--indigo_501:#454fb5; 
--bluegray_51:#edf2f5; 
--bluegray_50:#ebedf2; 
--blue_A400:#2170ed; 
--bluegray_800_0f:#2e4d590f; 
--indigo_900_91:#0a295e91; 
--gray_800_87:#42424087; 
--white_A700_ea:#ffffffea; 
--bluegray_800_0a:#3d4a540a; 
--indigo_900_99:#12175c99; 
--deep_orange_900:#ab471c; 
--gray_806:#474747; 
--gray_804:#404042; 
--gray_925:#261a00; 
--gray_805:#3b3b3b; 
--gray_920:#141c26; 
--gray_802:#424242; 
--gray_923:#171729; 
--gray_803:#424240; 
--gray_924:#001233; 
--gray_800:#383d45; 
--gray_400_3f:#c4c4c43f; 
--gray_921:#262626; 
--gray_801:#4d4d4d; 
--gray_922:#03004d; 
--bluegray_405:#8c8f91; 
--indigo_900_87:#12175c87; 
--bluegray_404:#7d828c; 
--bluegray_403:#8c8f8f; 
--bluegray_402:#82858c; 
--bluegray_401:#788296; 
--bluegray_400:#8c8c8c; 
--gray_916:#452114; 
--gray_917:#4f2617; 
--gray_914:#0f173d; 
--gray_915:#4f261c; 
--bluegray_409:#828c9e; 
--bluegray_408:#8a8a8a; 
--gray_918:#4d2617; 
--bluegray_407:#70a8a6; 
--gray_919:#080333; 
--bluegray_406:#858a8f; 
--deep_orange_A200:#f2692e; 
--gray_912:#171c26; 
--gray_913:#24262b; 
--gray_910:#00262b; 
--gray_911:#1c1c21; 
--gray_900_e2:#330008e2; 
--white_A700_cc:#ffffffcc; 
--blue_600_a5:#3d7ad9a5; 
--gray_100_98:#f2f2f298; 
--black_900_fa:#000000fa; 
--deep_orange_800:#db3d12; 
--gray_905:#212121; 
--gray_906:#08123b; 
--gray_903:#1c1c1c; 
--gray_904:#242424; 
--deep_orange_A201:#f76338; 
--gray_909:#17171f; 
--purple_50:#eddef2; 
--gray_907:#12142e; 
--gray_908:#121212; 
--gray_901:#1c1717; 
--gray_902:#171717; 
--gray_900:#05172b; 
--bluegray_303:#96a1b0; 
--bluegray_302:#8a94a6; 
--bluegray_301:#949ead; 
--bluegray_300:#9c9cb0; 
--gray_400_26:#bababa26; 
--black_900_0f1:#0808080f; 
--indigo_700:#2130b8; 
--gray_611:#707582; 
--gray_612:#6b707d; 
--gray_610:#6e7882; 
--blue_A200:#5280f7; 
--gray_100_6c:#f0f0ff6c; 
--green_500:#33d16e; 
--white_A700_aa:#ffffffaa; 
--gray_608:#8f6e61; 
--gray_609:#707070; 
--gray_606:#6b737d; 
--gray_607:#8f6e63; 
--orange_600_a5:#ff8a00a5; 
--red_A700:#eb001f; 
--gray_600:#706e70; 
--gray_601:#78808a; 
--gray_604:#787878; 
--gray_605:#808080; 
--gray_602:#75597d; 
--gray_603:#757575; 
--bluegray_100_87:#cccfd187; 
--bluegray_602:#597085; 
--bluegray_601:#594f8c; 
--bluegray_600:#455287; 
--indigo_801:#2e367d; 
--indigo_802:#403b78; 
--indigo_800:#3d3373; 
--cyan_400:#33adcc; 
--purple_200:#d4a3e6; 
--blue_A200_3d:#5280f73d; 
--deep_purple_100:#d4bfdb; 
--green_401:#4fe35e; 
--green_400:#42cc73; 
--green_A400:#00c775; 
--pink_A200:#ff5273; 
--bluegray_600_9e:#5970859e; 
--gray_705:#5e5e5e; 
--gray_706:#595959; 
--gray_700:#636363; 
--lime_900_0f:#9180380f; 
--gray_703:#666666; 
--gray_704:#6b6966; 
--white_A700_a5:#ffffffa5; 
--gray_701:#575757; 
--orange_A700:#ff660f; 
--indigo_50:#e6ebf5; 
--gray_702:#5c5c5c; 
--indigo_51:#d6d9ff; 
--teal_A400:#29d68f; 
--bluegray_504:#6e7d8c; 
--bluegray_503:#737a8c; 
--bluegray_502:#478a8a; 
--bluegray_501:#69758c; 
--bluegray_500:#6e7585; 
--indigo_902:#122973; 
--indigo_903:#12175c; 
--indigo_900:#140585; 
--indigo_901:#030a63; 
--gray_50_00:#faf7fc00; 
--black_900_b3:#0d0d0db2; 
--black_900_b2:#000000b2; 
--black_900_cc1:#000d21cc; 
--gray_900_99:#08123b99; 
--bluegray_909:#141a4f; 
--yellow_400:#faeb52; 
--bluegray_911:#292e45; 
--bluegray_910:#1f2b3d; 
--yellow_A400:#ffe600; 
--teal_901:#174d47; 
--teal_900:#17594a; 
--light_blue_A700:#0f8aed; 
--teal_902:#005c33; 
--deep_purple_A200:#8063f5; 
--bluegray_916:#263340; 
--bluegray_915:#262933; 
--bluegray_914:#2e2e33; 
--bluegray_913:#293340; 
--bluegray_912:#212940; 
--teal_A700:#03c4a1; 
--gray_402:#b3b3b3; 
--gray_400:#c4c4c4; 
--gray_401:#bababa; 
--orange_200:#facc70; 
--bluegray_801:#2e3659; 
--black_900_1:#000d2100; 
--bluegray_800:#264554; 
--indigo_A700:#1a40f5; 
--bluegray_805:#454a54; 
--bluegray_804:#2b3d4a; 
--bluegray_803:#173b57; 
--bluegray_802:#38524a; 
--pink_800:#a30d4d; 
--gray_507:#a1a1a1; 
--gray_508:#ababab; 
--gray_501:#a3a3a3; 
--gray_502:#949494; 
--gray_500:#9e9e9e; 
--gray_505:#999999; 
--gray_506:#91919e; 
--gray_503:#969696; 
--gray_504:#a6a6a6; 
--green_400_6c:#42cc736c; 
--bluegray_700_26:#45547326; 
--gray_100_28:#f2f2f228; 
--bluegray_702:#38615c; 
--bluegray_701:#337859; 
--bluegray_700:#525252; 
--bluegray_703:#455473; 
--black_900_f5:#00050ff5; 
--yellow_600:#f2d938; 
--deep_purple_A400:#5e33f5; 
--gray_200_87:#ededed87; 
--gray_204:#edf0ed; 
--gray_600_21:#706e7021; 
--gray_205:#e8e8e8; 
--gray_202:#f0f0f0; 
--orange_A201:#f7ba3d; 
--gray_203:#f2f0e8; 
--orange_A200:#faba3d; 
--gray_900_5a:#1c17295a; 
--gray_200:#ebebeb; 
--gray_201:#ededed; 
--blue_50:#e6f5fa; 
--yellow_A700_07:#ffd60007; 
--indigo_400_0f:#5e85c20f; 
--blue_A100_19:#8fadff19; 
--teal_100_21:#b5ccde21; 
--deep_orange_50:#ffe3de; 
--yellow_900_1a:#c98a0a1a; 
--bluegray_50_00:#edf2f500; 
--gray_900_75:#03004d75; 
--gray_600_19:#6b707d19; 
--gray_900_6c:#03004d6c; 
--black_900_d6:#000000d6; 
--bluegray_500_53:#6e758553; 
--gray_309:#dbe0f0; 
--gray_303:#e0d6db; 
--gray_600_00:#6b707d00; 
--gray_304:#e0e0e0; 
--gray_301:#e3e3e3; 
--gray_302:#e6e6e6; 
--gray_307:#d9d9de; 
--gray_900_87:#12121287; 
--gray_308:#dedee0; 
--gray_305:#e3e3eb; 
--gray_900_88:#03004d87; 
--black_900_e2:#0d0d12e2; 
--gray_306:#dee3e8; 
--gray_900_89:#000d2687; 
--red_A200_a5:#ff4d4da5; 
--gray_300:#dedede; 
--gray_400_5a:#c4c4c45a; 
--bluegray_900:#333333; 
--black_900_cc:#000000cc; 
--gray_900_7f:#171a247f; 
--yellow_A700_26:#ffd60026; 
--bluegray_908:#21213d; 
--bluegray_907:#1a3345; 
--bluegray_906:#0d2436; 
--bluegray_905:#2b3d2b; 
--bluegray_904:#212e3b; 
--bluegray_903:#2e2e2e; 
--gray_900_90:#03004d90; 
--bluegray_902:#1c2b4f; 
--bluegray_901:#2e2e30; 
}